* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-image: url("./images/front-cover1.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.background-join {
  background-image: url("./images/6.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.main-title {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #fff;
  font-size: 4em;
}

.main-title-join {
  display: flex;
  justify-content: center;
  padding: 0.2em;
  color: #fff;
  font-size: 4em;
}

.main-subtitle {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #fff;
}

.input-name {
  width: 30%;
}

.select,
.label {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  color: #fff;
}

.label {
  margin-bottom: -5px;
}

.enter-room {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #fff;
}
.messages {
  padding: 1em;
  overflow: auto;
  flex: auto;
  height: 18em;
  background: wheat;
  border: 1px solid black;
}

.back-btn {
  margin: 1em;
}

a:link {
  text-decoration: none;
}

.input {
  display: flex;
  justify-content: center;
}

.messageContainer {
  display: flex;
  margin-left: 13px;
  padding: 6px;
}

.messageContainer p {
  margin-bottom: 0.4em;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
  padding-right: 10px;
}

.colorRed {
  color: crimson;
}

.colorOrange {
  color: #fd7e14;
}

.colorBlack {
  color: #212529;
}

.colorBlue {
  color: dodgerblue;
}


.users-and-messages {
  display: flex;
  margin: 0.5em;
}

.users-sidebar {
  flex: 30%;
  background: #e9ecef;
  padding: 7px;
  height: 18em;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  border-radius: 0.3em;
}

.icon {
  margin-right: 0.5em;
}

.message-board {
  flex: 70%;
  background-color: white;
  overflow: auto;
  height: 24em;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  border-radius: 0.3em;
}

.input-group {
  width: 50%;
  margin: auto;
}

.input-group-name {
  display: flex;
  width: 32%;
  margin: auto;
}
